<html>
  <head>
    <title>Sistema de Gestión</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Cargamos la librería uikit-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_DIR}}/css/uikit.css"/>
    <!--Cargamos la librería JQuery-->
    <script src="{{STATIC_DIR}}/jquery.js"></script>
    <!--Cargamos la librería JavaScript de uikit-->
    <script src="{{STATIC_DIR}}/js/uikit.min.js"></script>
  </head>


  <body>

   <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

     <div class="uk-grid">

        <div class="uk-width-7-10">

           <!-- Título y subtitulo de la página -->
           <h1>Students Management System</h1>

        </div>


     <!--Menú de navegación-->
     <ul class="uk-subnav uk-subnav-line">
       <li class="uk-active"><a href="/">Inicio</a></li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Alumno <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroAlumno">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li>  -->
                   <li><a href="/alumnos">Listado</a></li>

               </ul>
           </div>
       </li>


       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Profesor <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroProfesor">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/profesores">Listado</a></li>

               </ul>
           </div>
       </li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Asignatura <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroAsignatura">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/asignaturas">Listado</a></li>

               </ul>
           </div>
       </li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Grupo <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroGrupo">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/grupos">Listado</a></li>

               </ul>
           </div>
       </li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Pertenencia <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroPertenece">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/pertenencias">Listado</a></li>

               </ul>
           </div>
       </li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Impartición <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroImparte">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/imparticiones">Listado</a></li>

               </ul>
           </div>
       </li>

       <li data-uk-dropdown="{mode:'click'}">
           <a href="#">Cursa <i class="uk-icon-caret-down"></i></a>
           <div class="uk-dropdown uk-dropdown-small">
               <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="/registroCursa">Registro</a></li>
	<!--	   <li><a href="/borrarCalificacion">Borrado</a></li> -->
                   <li><a href="/cursos">Listado</a></li>

               </ul>
           </div>
       </li>

     </ul>



  </div>

    {% block content %}{% endblock %}
  </body>


</html>
